<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (June 21)</h3>
    <h4>The Unix Shell</h4>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>2:30 PM ET</td> <td> <a href="intro.pdf">Workshop Introduction</a></td></tr>
      <tr> <td>2:45 PM ET</td> <td><a href='http://swcarpentry.github.io/shell-novice/'>The Unix Shell</a></td></tr>
      <tr> <td>3:25 PM ET</td> <td> 5 min Break</td></tr>
      <tr> <td>3:30 PM ET</td> <td><a href='http://swcarpentry.github.io/shell-novice/'>The Unix Shell (Continued)</a></td></tr>
      <tr> <td>5:00 PM ET</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (June 22)</h3>
    <h4>Spreadsheets & OpenRefine</h4>
    <table class="table table-striped">
      <tr> <td>2:30 PM ET</td> <td>Previous Day Review and Question Session</td></tr>
      <tr> <td>2:40 PM ET</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr> <td>3:30 PM ET</td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr> <td>4:00 PM ET</td> <td> 15 min Break</td></tr>
      <tr> <td>4:15 PM ET</td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning (Continued)</a></td></tr>
      <tr> <td>5:00 PM ET</td> <td>END</td> </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (June 23)</h3>
    <h4>Data Analysis and Visualization in Python</h4>
    <table class="table table-striped">
      <tr> <td>2:30 PM ET</td> <td>Previous Day Review and Question Session</td></tr>
      <tr> <td>2:40 PM ET</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/">Data Analysis and Visualization in Python</a></td></tr>
      <tr> <td>3:45 PM ET</td> <td> 15 min Break</td></tr>
      <tr> <td>4:00 PM ET</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/">Data Analysis and Visualization in Python (Continued)</a></td></tr>
      <tr> <td>5:00 PM ET</td> <td>END</td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (June 24)</h3>
    <h4>Data Analysis and Visualization in Python</h4>
    <table class="table table-striped">
      <tr> <td>2:30 PM ET</td> <td>Previous Day Review and Question Session</td></tr>
      <tr> <td>2:40 PM ET</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/">Data Analysis and Visualization in Python (Continued)</a></td></tr>
      <tr> <td>3:45 PM ET</td> <td> 15 min Break</td></tr>
      <tr> <td>4:00 PM ET</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/">Data Analysis and Visualization in Python (Continued)</a></td></tr>
      <tr> <td>5:00 PM ET</td> <td>END</td> </tr>

    </table>
  </div>
</div>
